<h1>Add Product</h1>

<form class="add-product" action='/create' method='post' enctype='multipart/form-data'>
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br>
  Upload CSV:<br>
  <input type='file' name='my_file'>
  <br><br>

  <input type='submit' value='Submit'>
</form>

<img src='assets/images/example.png' alt='Example CSV' height="700" width= "700" >
<h2>Example of Valid CSV format</h2>
<p>It is important that A1 through A2 be exactly as shown.</p>
<p>It is not recommended to use non alphanumeric characters or symbols for the attributes in column A.</p>
<p>File must be a .csv extension</p>

