<h1>Add Product</h1>

<form class="add-product" action='/create' method='post' enctype='multipart/form-data'>
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br>
  Upload CSV:<br>
  <input type='file' name='my_file'>
  <br>

  <input type='submit' value='Submit'>
</form>
